.dib{ display: inline-block; vertical-align: middle;}
.hide,.shide{ display:none; opacity: 0; width: 0px; height: 0px; pointer-events: none;}

body{
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#app{
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-canvas,.bg-canvas{
	position: absolute;
	width: 750px;
	height: 750px;
}

.bg-canvas{
	background: url('../img/map.png') repeat;
}

.ui-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	.ctrl-direction{
		position: absolute;
		width: 200px;
		height: 200px;
		background-color: #DDD;
		border-radius: 50%;
		left: 50px;
		bottom: 100px;
	}
	.cd-main{
		position: absolute;
		width: 100px;
		height: 100px;
		background-color: #2b96e1;
		border-radius: 50%;
		left: -100px;
		top: -100px;

	}
}