
%big-fire.png{
	width: 4.01rem;
	height: 4.01rem;
	background-image: url('../img/big-fire.png');
	background-size: contain;
background-repeat: no-repeat;

}

%fire.png{
	width: 4rem;
	height: 4.01rem;
	background-image: url('../img/fire.png');
	background-size: contain;
background-repeat: no-repeat;

}

%bomb.png{
	width: 4rem;
	height: 4.01rem;
	background-image: url('../img/bomb.png');
	background-size: contain;
background-repeat: no-repeat;

}

%mine.png{
	width: 2.45rem;
	height: 2.67rem;
	background-image: url('../img/mine.png');
	background-size: contain;
background-repeat: no-repeat;

}

%map.png{
	width: 2.12rem;
	height: 1.5rem;
	background-image: url('../img/map.png');
	background-size: contain;
background-repeat: no-repeat;

}
