
%map.png{
	width: 2.12rem;
	height: 1.5rem;
	background-image: url('../img/map.png');
	background-size: contain;
background-repeat: no-repeat;

}

%mine.png{
	width: 2.45rem;
	height: 2.67rem;
	background-image: url('../img/mine.png');
	background-size: contain;
background-repeat: no-repeat;

}
